@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;
    --dark-blue: #1f2937;
    --white: #f9faf8;
    --light-gray: #e5e7eb;
    --light-blue: #3882f6;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

header, 
article.hero {
    background-color: var(--dark-blue);
}

header h1,
article.hero h1 {
    color: var(--white);
}

header a,
article.hero p {
    color: var(--light-gray);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}