@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;
    --dark-blue: #1f2937;
    --white: #f9faf8;
    --light-gray: #e5e7eb;
    --light-blue: #3882f6;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}